@page
@model Server.Pages.IndexModel

<h3>
	Home
</h3>

<hr />

<a href="~/Learn01">Learn 1</a>
<br />
<a href="~/Learn02">Learn 2</a>
<br />
<a href="~/Learn03">Learn 3</a>
<br />
<a href="~/Learn04">Learn 4</a>
<br />
<a href="~/Learn05">Learn 5</a>

<hr />
