@page
@model Server.Pages.Learn05Model

<h3>
	Learn 5
</h3>

<hr />

Activation Key: @(Model.ApplicationSettings.ActivationKey)

<br />

@if (Model.ApplicationSettings.CultureSettings is null)
{
	return;
}

<h5>
	Cultures
</h5>

Default Culture: @(Model.ApplicationSettings.CultureSettings.DefaultCultureName)

<br />

Supported Culture Names:

@if (Model.ApplicationSettings.CultureSettings.SupportedCultureNames is not null)
{
	foreach (var item in Model.ApplicationSettings.CultureSettings.SupportedCultureNames)
	{
		@(item)
		@:&nbsp;
	}
}

<hr />
